@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/* section-1 */

.section-1 {
    background-image: url(../image/png/event-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    /* padding-bottom: 50px; */
}

a {
    text-decoration: none !important;
}

.free {
    color: rgba(1 200 255);
}

.events {
    color: rgba(44 73 254);
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;

}

.active {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.log-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: rgba(44, 73, 254, 1);
    width: 118px;
    height: 46px;
    white-space: nowrap;
    padding: 11px 28px 11px 28px;
    border-radius: 23px;
    border: 1px solid rgba(44, 73, 254, 1);
}

dl,
ol,
ul {
    padding-top: 5px !important;
}

.list-unstyled {
    padding-right: 50px;
}

.blue-box {
    background: rgba(44, 73, 254, 0.74);
    border-radius: 150px;
    width: 100% !important;
    max-width: 962px !important;
    padding: 30px;
    /* height: 100px; */
}


.ldc {
    font-family: "Yantramanav", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.94px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-right: 70px;
    padding-top: 20px;
    padding-left: 10px;
}

.search {
    font-family: "Yantramanav", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.go-btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    white-space: nowrap;
    text-align: center;
    color: rgba(44, 73, 254, 1);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 15px 20px 15px 20px;
    border-radius: 150px;

}

.svg-icon {
    position: absolute;
    left: 30px;
    top: 34px;

}

.svg-icon-1 {
    position: absolute;
    left: 28%;
    top: 34px;

}

.svg-icon-2 {
    position: absolute;
    left: 48%;
    top: 40px;

}

.sed {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 96.32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 1044px;
    padding-top: 30px;
}

.Lorem {
    font-family: "Yantramanav", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.94px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 765px;
    padding-top: 18px;
    padding-bottom: 33px;
}

.get-btn {
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    background: rgba(44, 73, 254, 1);
    border: 1px solid rgba(44, 73, 254, 1);
    width: 172px;
    height: 52px;
    white-space: nowrap;
    padding: 11px 28px 11px 28px;
    border-radius: 28px;
    margin-bottom: 50px;
}

.more-btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

/* section-2 */

.card-sharing {
    background: rgba(44, 73, 254, 1);
    border-radius: 5px;
    border: 2px solid rgba(44, 73, 254, 1);
    width: 260px;
    height: 198px;
    padding: 35px;
    /* margin-bottom: 10px; */

}

.card-help {
    border-radius: 5px;
    border: 2px solid rgba(44, 73, 254, 1);
    width: 260px;
    height: 198px;
    margin-top: 37px;
    margin-left: 150px;
    padding: 35px;
}

.card-info {
    border-radius: 5px;
    border: 2px solid rgba(44, 73, 254, 1);
    width: 260px;
    height: 198px;
    padding: 35px;
}


.box-s {
    border: 2px solid rgba(44, 73, 254, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 79px;
    height: 79px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;
}

.box-h {
    border: 2px solid rgba(44, 73, 254, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 79px;
    height: 79px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -25%;
}

.box-I {
    border: 2px solid rgba(44, 73, 254, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 79px;
    height: 79px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -25%;
}

.line-svg {
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 23%;
    top: 129px;
}

.make-us {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    max-width: 583px;
    padding-top: 21px;
}

.surface {
    padding-top: 60px;
}

.para {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 46px;
}

.Sharing {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.help {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    color: rgba(44, 73, 254, 1);


}

.Info {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    color: rgba(44, 73, 254, 1);

}

.para-dolor {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.para-lorem {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(45, 60, 174, 1);
}

/* section-3 */

/* .frame {
    background-image: url(../image/png/Frame.png);
    border-radius: 24px 24px 24px 24px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
}

.frame::after {
    content: '';
    position: absolute;
    background: rgba(255, 0, 0, 0.75);
    border-radius: 24px;
    inset: 0px;

}


.frame-text {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: var(--fs-56);
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.frame-para {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 40px;
}

.frame-button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    cursor: pointer;
    color: rgba(255, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 56px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 20px 32px 20px 32px;
    margin-top: 40px;
}

 */
.section-3 {
    background-image: url(../image/png/smile-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 513px !important;
}

.section-3::after {
    content: '';
    position: absolute;
    background: rgba(44, 73, 254, 0.8);
    inset: 0px;

}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 62.4px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 40px;
}

.paragraph {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 40px;
}

.parent-box {
    gap: 198px;
    padding-top: 78px;
}

.svg-group {
    margin-left: 38px;
}

.number {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.ptsa {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

/* media quary */
@media (max-width:992px) {
    label[for="menu-list"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    label[for="menu-list"]>span {
        width: 100%;
        height: 3px;
        background-color: white;
        z-index: 2;
    }

    input#menu-list:checked~.ul-modify {
        background-color: lightseagreen;
        right: 0;
    }

    input:checked~label[for="menu-list"]>span:nth-child(1) {
        transform: rotate(64deg);
        transform-origin: left;
    }

    input:checked~label[for="menu-list"]>span:nth-child(2) {
        transform: rotate(-40deg);
        opacity: 0;

    }

    input:checked~label[for="menu-list"]>span:nth-child(3) {
        transform: rotate(-63deg);
        transform-origin: left;
    }

    .ul-modify {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: black;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 200ms linear;
    }

    /* .box-s {
        position: absolute;
        right: 38%;
        top: 250%;
    }

    .box-h {
        position: absolute;
        right: 28.5%;
        top: 146%;
    }

    .box-I {
        position: absolute;
        right: 16.5%;
        top: 116%;
    } */


    /* .row::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid black;
    width: 100%;
    margin: 0 1rem;
    transform: translateY(-1rem);
}
.row::before {
    display: flex;
    content: "";
    border-top: .3rem solid black;
    width: 100%;
    margin: 0 1rem;
    transform: translateY(-1rem);
} */
}